@model Product 

<div class="col-sm-12 col-md-4 my-2">
    <div  class="card by-3" style="width: 18rem;">
        <img src="@Model?.ImageUrl" class="card-img-top" alt="...">
        <h5 class="card-title">@Model.ProductName</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <p>@Model.Price</p>

        <div class="btn btn-group">
            <a class="btn btn-primary" asp-action="Get" asp-route-id="@Model.ProductId">
                <i class="fa-solid fa-arrow-right"></i>
                Details
            </a>
            
            <form id="@Model.ProductId" asp-page="/cart" method="post">
                <input type="hidden" asp-for="ProductId" />
                <input type="hidden" name="returnUrl" value="/Product/Get/@Model.ProductId">
                <button class="btn btn-outline-primary" type="submit">
                    <i class="fa fa-cart-plus"></i>  

                </button>
            </form>
        </div>
    </div>
</div>

x