@model List<StoreApp.Models.Product> 

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    @foreach (StoreApp.Models.Product product in Model) 
    {
        <div>
            <p>@product.ProductName</p>
            <p>@product.Price</p> 
            <a href="Product/Get/@product.ProductId">GetDetail</a>

        </div>
    }
</body>
</html>