@model List<Product>

@section Footer {
    <div> Only for Index footer </div>
}

@foreach (Product product in Model)
{
    <div>
        <p>@product.ProductName</p>
        <p>@product.Price</p>
        <a href="Product/Get/@product.ProductId">GetDetail</a>
    </div>
}
