@model Candidate

<div class="display-6">Apply</div>

@* <form method="post" action="/course/apply"> *@
<form method="post" asp-action="Apply">
    <div class="form-group my-2">
        <lable asp-for="EMail">E-Mail</lable>
        <input asp-for="Email" class="form-control" type="text">
    </div>
    <div class="form-group my-2">
        <lable asp-for="FirstName">First Name</lable>
        <input asp-for="FirstName" class="form-control" />
    </div>
    <div class="form-group my-2">
        <lable asp-for="LastName">Last Name</lable>
        <input asp-for="LastName" class="form-control" />
    </div>

    <div class="form-group my-2">
        <label asp-for="Age"></label>
        <select asp-for="Age" class="form-control">
            <option value="18">18</option>
            <option value="19">19</option>
            <option value="20">20</option>
            <option value="21">21</option>
            <option value="22">12</option>
            <option value="23">13</option>
        </select>
    </div>

    <fieldset>
        <legend>Select One Course</legend>
        <p><input type="radio" id="MVC" asp-for="SelectedCourse" value="Asp.NET Core MVC"> Asp.NET Core MVC</p>
        <p><input type="radio" id="C#" asp-for="SelectedCourse" value="C#"> C#</p>
        <p><input type="radio" id="NodeJS" asp-for="SelectedCourse" value="Node.JS"> Node.JS</p>
        <p><input type="radio" id="Django" asp-for="SelectedCourse" value="Django"> Django</p>

    </fieldset>

    <div>
        <button class="btn btn-primary" type="submit">Apply</button>
        <a asp-controller="Home" asp-action="Index" class="btn btn-warning">
            Home
        </a>
    </div>

</form>
