@model List<Employee>

<div>
    <h3 class="display">Employee </h3>
</div>
<div class="lead">
    @foreach (Employee emp in Model)
    {
        <div class="lead my-2">
            <h6>@emp.FullName</h6>
            <p>@emp.Id</p>
            <p><strong>Age:</strong>@emp.Age</p>
        </div>
    }

</div>